{% extends 'base.html' %}

{% block title %} Add a New Animal Asynchronously {% endblock %}

{% block content %}
    <h1>Add a New Animal (asynchronous)</h1>
    <form id="async-form">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" placeholder="Animal name" required>
        <br>
        <label for="description">Description</label>
        <br>
        <textarea name="description" placeholder="Animal description" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('async-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var form = this;
            var formData = new FormData(form);

            fetch('/async_add', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert('Animal added successfully!');
                form.reset();
                window.location.href = "/";
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while processing the form data');
            });
        });
    </script>
{% endblock %}

